<div class="sidebar ps-4 pb-3 mt-4">
            <nav class="navbar navbar-light">

                <form class="d-md-flex m-4 border">
                    <input class="form-control border-0" type="search" placeholder="Search">
                </form>
<!--                {% if user.is_authenticated %}-->
<!--                    <div class="d-flex align-items-center me-4 mb-4">-->
<!--                        <div class="position-relative">-->
<!--                            <img class="rounded-circle" src="/static/img/user.jpg" alt="" style="width: 40px; height: 40px;">-->
<!--                            <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>-->
<!--                        </div>-->
<!--                        <div class="me-3">-->
<!--                            <h6 class="mb-0">Jhon Doe</h6>-->
<!--                            <span>طالب</span>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                {% endif %}-->
                <div class="navbar-nav w-100 ">
                    <a href="index.html" class="nav-item nav-link active"><i class="fa fa-home mx-2"></i>الرئيسية</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-th mx-2"></i>الخدمات</a>
                        <div class="dropdown-menu bg-transparent border-0 text-right">
                            <a href="button.html" class="dropdown-item">بكالوريوس</a>
                            <a href="typography.html" class="dropdown-item">ماجستير</a>
                            <a href="element.html" class="dropdown-item">دكتوراه</a>
                            <a href="element.html" class="dropdown-item">خدمات اخرى</a>
                        </div>
                    </div>
                    <a href="widget.html" class="nav-item nav-link"><i class="fa fa-book mx-2"></i>المكتبة</a>
                    <a href="form.html" class="nav-item nav-link"><i class="fa fa-blog mx-2"></i>المدونة</a>
                    <a href="form.html" class="nav-item nav-link"><i class="fa fa-info mx-2"></i>عنا</a>

                </div>
            </nav>
        </div>